BODY {
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #ffffff;
    scrollbar-arrow-color: #485464;
    scrollbar-base-color: #A3A9B1;
    scrollbar-darkshadow-color: #A3A9B1;
    scrollbar-face-color: #C8CBD0;
    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #ffffff;
    scrollbar-track-color: #DADDE0;
}
A:link {
    COLOR: #2e5380
}
h2 {
   FONT-WEIGHT: normal; FONT-SIZE: 20px; COLOR: black; FONT-FAMILY: Arial, Verdana, sans-serif; background-color: #ccc; padding: 5px 5px 3px;
}
TD {
    FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Verdana, sans-serif; 
}
